@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.Hints .Cell {
    border-color: rgba(0, 0, 0, 0);
}

.Hints {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
    text-align: center;
}