@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.Bitpuzzle-board {
  margin: 0 auto;
}

.Hints,
.Puzzle {
  border-collapse: collapse;

  font-family: 'Anonymous Pro', monospace;
  font-size: 1.2rem;
  text-align: center;
}

.Cell {
  width: 2rem;
  height: 2rem;

  border: 1px solid rgba(0, 0, 0, 0.6);
}

.Hints .Cell {
  border-color: rgba(0, 0, 0, 0);
}

.Cell-selected {
  background-color: rgba(131, 177, 255, 1);

}
